body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #804646;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

section:last-child {
    border-bottom: none;
}

section h2 {
    margin-top: 0;
}

.img-center {
    text-align: center;
}

.img-center img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

img {
    max-height: 550px;
    max-width: 550px;
    margin-left: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
